/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* VARIABLES */
:root {
  --color-navbar: #e2e2e3;
  --text: #524235;
  --bg-color: #ffffff;
  --color-footer: #361f19;
  --hover: #d4a373;
}
body {
  font-family: "Poppins", sans-serif !important;
}
/* NAVBAR */
.navbar {
  background-color: var(--color-footer) !important;
  padding: 1rem;
}
.nav-item,
.dropdown-item {
  font-weight: 500;
}
.navbar .navbar-brand,
.navbar .nav-link {
  color: var(--bg-color) !important;
  transition: 0.3s;
}

.navbar .nav-link:hover {
  color: var(--hover) !important;
}
.brand-text div {
  font-family: "Playfair Display", serif !important;
  font-style: italic;
  color: var(--hover) !important;
}

/* DROPDOWN COLORS */
.dropdown-menu {
  background-color: var(--color-footer) !important;
  border: none;
}

.dropdown-item {
  color: var(--bg-color) !important;
  transition: 0.3s;
  padding: 10px;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: var(--text) !important;
  color: var(--hover) !important;
}
@media (min-width: 992px) {
  .navbar .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s ease;
  }

  /* Tampilkan saat hover */
  .navbar .nav-item.dropdown:hover > .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
@media (max-width: 991px) {
  .dropdown-menu {
    display: none !important;
  }

  .dropdown-menu.show {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
    transform: none !important;
  }
}
/* HAMBURGER ICON*/
.navbar-toggler {
  border: none !important;
  padding: 8px 10px;
  border-radius: 10px;
  transition: all 0.3s;
  border: none !important;
  outline: none !important; /* matiin outline default */
  box-shadow: none !important;
}

/* Garis tiga jadi warna keemasan + lebih tebal */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23d4a373' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  width: 30px;
  height: 30px;
}
.navbar-toggler:hover,
.navbar-toggler:focus {
  background-color: var(--text) !important;
  border: none !important;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23d4a373' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M6 6l18 18M6 24L24 6'/%3e%3c/svg%3e") !important;
}
/* END NAVBAR */
/* FOOTER */
.bg-dark {
  background-color: var(--color-footer) !important;
}
.img-footer {
  background-color: var(--bg-color);
  border-radius: 50%;
}
footer li,
footer a {
  transition: 0.3s;
  font-size: 1rem;
  color: var(--bg-color) !important;
}
footer a:hover {
  color: var(--hover) !important;
}
/* END FOOTER */

/* HOME */
.hero {
  min-height: calc(100vh - 60px);
  overflow: hidden;
  color: var(--brass);
  padding: 2rem 0;
}

.hero-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* --- KIRI --- */
.hero-left {
  position: relative;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-content {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-profile,
.text-sejarah {
  font-family: "Playfair Display", serif !important;
  font-size: 2rem !important;
}

.floating-images {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.float-img {
  position: absolute;
  width: 85%;
  max-width: 800px;
  height: auto;
}

.img-coffee {
  z-index: 1;
  opacity: 0.8;
  transform: translate(-50%, -50%) scale(1.3);
  top: 80%;
  left: 45%;
}

.img-bakery {
  z-index: 2;
  opacity: 0.9;
  transform: translate(-50%, -50%);
  top: 70%;
  left: 50%;
}

.hero-title {
  position: relative;
  z-index: 10;
  font-family: "Playfair Display", serif;
  font-size: 3.6rem;
  line-height: 1.1;
  color: var(--color-footer);
  text-align: center;
  font-weight: 700;
  margin: 0;
  pointer-events: none;
}

.hero-title span {
  display: block;
  font-size: 3.5rem;
  margin-top: 0.5rem;
}

/* --- KANAN --- */
.hero-right {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.profile .card-body,
.history .card-body {
  text-align: justify;
  padding: 1.5rem;
}
.card {
  background: var(--text-white);
  border-radius: 10px;
  border: none;
  font-family: "Poppins " serif !important;
}

.card-title {
  color: var(--color-footer);
  font-weight: 600;
  font-size: 1.5rem;
}

.card-text {
  color: var(--color-footer);
  font-size: 1rem;
  line-height: 1.7;
}

/* --- RESPONSIVE --- */
@media (max-width: 991px) {
  .hero {
    min-height: auto;
    padding: 3rem 0;
  }
  .hero-left {
    min-height: 450px;
    margin-bottom: 2rem;
  }

  .hero-content {
    height: 450px;
  }

  .float-img {
    width: 80%;
    max-width: 400px;
    top: 55%;
  }
}

@media (max-width: 768px) {
  .hero-container {
    padding: 0 20px;
  }

  .hero-left {
    min-height: 350px;
  }

  .hero-content {
    height: 350px;
    max-width: 500px;
  }

  .float-img {
    width: 70%;
    max-width: 300px;
  }

  .card-body {
    padding: 1.25rem;
  }
}

@media (max-width: 576px) {
  .hero {
    padding: 2rem 0;
  }

  .hero-left {
    min-height: 300px;
  }

  .hero-content {
    height: 300px;
    max-width: 100%;
  }

  .float-img {
    width: 75%;
    max-width: 250px;
  }

  .card-title {
    font-size: 1.3rem;
  }

  .card-text {
    font-size: 0.95rem;
  }
}

@media (max-width: 400px) {
  .hero-content {
    height: 280px;
  }

  .float-img {
    width: 80%;
    max-width: 220px;
  }
}

/* END HOME */
/* VISI MISI */
.img-visi-misi img {
  width: 100%;
  max-width: 400px;
  object-fit: cover;
}

.visi-misi {
  background: var(--color-navbar);
}
.img-visi-misi img {
  border-radius: 30px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

.img-visi,
.img-misi {
  filter: drop-shadow(5px 0px 20px rgba(0, 0, 0, 0.5));
}
.text-visi,
.text-misi {
  font-family: "Playfair Display", serif !important;
  font-size: 2.5rem;
  color: var(--color-footer);
}
.text-p-visi,
.text-p-misi {
  color: var(--color-footer);
  text-align: justify;
  font-weight: 300;
}
/* END VISI MISI */
/* MENU */
.menusection {
  background: var(--bg-color);
}
.bg-menu {
  background-color: var(--color-footer);
  padding: 2rem;
  display: flex;
  align-items: center;
}
.h2-menu {
  font-family: "Playfair Display", serif !important;
  font-size: clamp(2.5rem, 4vw, 2.5em);
  color: var(--color-footer);
}

.menu-makanan,
.menu-minuman {
  background: var(--bg-image) center/cover no-repeat;
  background-size: cover;
  transition: all 0.4s ease;
  position: relative;
  border-radius: 50px;
  filter: drop-shadow(5px 0px 10px #000000);
}

.menu-makanan {
  --bg-image: url("../img/menu_makanan.jpg");
}
.menu-minuman {
  --bg-image: url("../img/menuminuman.jpg");
}

.menu-makanan:hover,
.menu-minuman:hover {
  transform: scale(1.05);
  transition: 0.4s;
  filter: brightness(0.8) drop-shadow(5px 0px 25px rgba(0, 0, 0, 0.4));
}

.menu-makanan h3,
.menu-minuman h3 {
  font-family: "Poppins", serif;
  color: var(--bg-color);
  font-size: 1.5rem;
  opacity: 0.5;
  text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.8);
  transition: 0.3s;
}
.menu-makanan h3:hover,
.menu-minuman h3:hover {
  opacity: 1;
}

/* END MENU */
/* PROGRAM */
.program {
  background: var(--color-navbar);
}
.program-container {
  margin-top: 7rem;
  /* margin-bottom: 50px; */
}
.text-program {
  font-family: "Playfair Display", serif !important;
  font-size: clamp(2.5rem, 4vw, 2.5em);
  color: var(--color-footer);
}
.img-program-1,
.img-program-2,
.img-program-3 {
  position: relative;
  width: 304px;
  height: 350px;
  color: var(--coffee);
  background-size: cover;
  background-position: center;
  filter: drop-shadow(0px 0px 10px #000000);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}
.img-program-1 {
  background-image: url(../img/kunjungan.jpeg);
}
.img-program-2 {
  background-image: url(../img/magang.jpeg);
}
.img-program-3 {
  background-image: url(../img/catering.jpeg);
}

.img-program-1 h3,
.img-program-2 h3,
.img-program-3 h3 {
  color: white;
  z-index: 100;
  opacity: 0;
  font-size: 2rem;
  transition: opacity 0.3s ease;
}

.img-program-1:hover h3,
.img-program-2:hover h3,
.img-program-3:hover h3 {
  opacity: 1;
  text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.8);
}

.img-program-1:hover,
.img-program-2:hover,
.img-program-3:hover {
  transform: scale(1.05);
  filter: brightness(0.7) drop-shadow(5px 0px 25px rgba(0, 0, 0, 0.4));
}
/* END PROGRAM */
/* ULASAN */
.ulasan {
  background: var(--bg-color);
}
.h2-ulasan {
  font-family: "Playfair Display", serif !important;
  color: var(--color-footer);
  font-size: clamp(2.5rem, 4vw, 2.5em);
}
.h4-ulasan {
  font-family: "Poppins", serif !important;
  font-weight: bold;
  color: var(--color-footer) !important;
}
.form-ulasan {
  background: var(--color-navbar);
  border-radius: 10px;
}
.star {
  font-size: 2rem;
}
.form-label {
  color: var(--color-footer);
  font-family: "Poppins", serif !important;
  font-size: 1.1rem;
  font-weight: 500;
}
.input-ulasan {
  border-radius: 50px;
}
.textarea-ulasan {
  border-radius: 5px;
}
.btn-ulasan {
  background-color: var(--bg-color);
  padding: 10px;
  border-radius: 50px;
  width: 120px;
  border: none;
  color: var(--color-footer);
  font-weight: bold;
  font-family: "Poppins", serif !important;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}
.btn-ulasan:hover {
  background-color: var(--color-footer);
  color: var(--bg-color);
}
.ulasan-container {
  background: var(--color-navbar);
  color: var(--color-footer);
}
/* END ULASAN */
/* MAKANAN */
.makanan-section {
  background: var(--bg-color);
}
.hero-makanan {
  width: 1440;
  height: 400px;
  min-height: 450px;
  transform: scale(0 2);
  position: relative;
  background: url("../imgmakanan/hero\ section.png") center/cover no-repeat;
}

.mid-plane {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  top: 0;
  left: 0;
}
.text-makanan {
  font-weight: 600;
  opacity: 0.5;
}
.content {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: clamp(28px, 6vw, 48px);
  font-weight: 700;
  letter-spacing: 1px;
  z-index: 100;
}

/* SECTION TITLE */
.best-seller {
  background: var(--color-navbar);
}
.section-title {
  font-size: clamp(2.5rem, 4vw, 2.5em);
  font-family: Playfair Display, serif !important;
  font-weight: 700;
  color: var(--color-footer);
  margin-bottom: 1.5rem;
  font-style: italic;
}

/* PRODUCT CARD */
.product-card {
  width: 240px;
  height: 300px;
  margin: 0 auto;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 5px 0px 25px rgba(0, 0, 0, 0.4);
  background: var(--color-footer);
  border: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 40px rgba(181, 181, 181, 0.789);
}

.product-inner {
  background: var(--brown);
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.product-inner img {
  max-width: 80%;
  height: auto;
  object-fit: contain;
}

.product-footer {
  height: 40%;
  background: var(--bg-color);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

.product-title {
  font-size: 13px;
  font-weight: 700;
  color: var(--color-footer);
  text-transform: uppercase;
  font-family: "Poppins", serif !important;
}

.product-sub {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  font-weight: 700;
  color: var(--color-footer);
  font-size: 1.1rem;
}

.aneka-wrap {
  position: relative;
  padding: 6px 0;
}

.aneka-scroll {
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  padding-bottom: 10px;
}

.aneka-scroll::-webkit-scrollbar {
  height: 10px;
}

.aneka-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #b67d5b, #8f5a3f);
  border-radius: 10px;
}

.aneka-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 18px;
}

/* ARROW CONTROLS */
.scroll-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 30;
  background: transparent;
  border: none;
  cursor: pointer;
}

.scroll-left {
  left: -10px;
}

.scroll-right {
  right: -10px;
}

.control-btn {
  background: transparent;
  border-radius: 999px;
  border: 0;
  padding: 8px 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.control-btn:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
  transform: scale(1.1);
}

.fav-btn {
  background: transparent;
  border: 0;
  font-size: 18px;
  color: #e74c3c;
  cursor: pointer;
  padding: 4px;
  transition: color 0.2s ease;
}

.fav-btn.not-active {
  color: #e0a7a0;
}

.fav-btn:hover {
  color: #c0392b;
}
.section-roti-kering {
  background: var(--color-navbar);
}
/* RESPONSIVE */
@media (max-width: 480px) {
  .hero-makanan {
    height: 250px;
  }
}

/* END MAKANAN */
/* MINUMAN */
.minuman-section {
  background: var(--color-navbar);
}
.hero-minuman {
  width: 1440;
  height: 400px;
  min-height: 450px;
  transform: scale(0 2);
  position: relative;
  background: url("../imgminuman/banner.jpg") center/cover no-repeat;
}

/* END MINUMAN */
/* MAGANG */
.h1-program {
  font-size: clamp(2.5rem, 4vw, 2.5em);
  font-family: Playfair Display, serif !important;
  font-weight: 700;
  color: var(--color-footer);
  margin-bottom: 1.5rem;
  font-style: italic;
}

.qr-card {
  background: var(--color-footer);
  border-radius: 28px;
  padding: 27px;
  margin-left: auto;
  text-align: center;
}

.qr-box {
  background: var(--bg-color);
  border-radius: 10px;
}

.qr-box img {
  width: 210px;
  height: 210px;
  border-radius: 5px;
}

.qr-text {
  color: var(--bg-color);
  font-weight: 600;
  margin-top: 6px;
  font-size: 14px;
}

/* FOTO */
.thumb-img {
  height: 255px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  border: 0px solid #fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.qr-align {
  padding-top: 20px;
}
.p-program {
  text-align: justify;
  font-size: 18px;
  line-height: 1.7;
}
/* END MAGANG */
